In [233]:
import pandas as pd
import numpy as np

In [234]:
data= pd.read_csv("Data/allbp.data")
data.columns= ["age","sex","on_thyroxine","query_on_thyroxine","on_antithyroid_medication","sick","pregnant","thyroid_surgery","I131_treatment", "query_hypothyroid","query_hyperthyroid","lithium","goitre","tumor","hypopituitary","psych","TSH_measured","TSH","T3_measured","T3","TT4_measured","TT4","T4U_measured","T4U","FTI_measured","FTI","TBG_measured","TBG","Referral_source", "Class"]
# columns=["age","sex","on_thyroxine","query_on_thyroxine","on_antithyroid_medication","sick","pregnant","thyroid_surgery","I131_treatment", "query_hypothyroid","query_hyperthyroid","lithium","goitre","tumor","hypopituitary","psych","TSH_measured","TSH","T3_measured","T3","TT4_measured","TT4","T4U_measured","T4U","FTI_measured","FTI","TBG_measured","TBG","Referral_source", "Class"]
data.head(500)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,Referral_source,Class
0,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
1,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
2,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
3,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
4,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,45,F,f,f,f,f,f,f,f,f,...,t,144,f,?,f,?,f,?,other,negative.|2185
496,82,M,f,t,f,f,f,f,f,f,...,t,133,t,1,t,134,f,?,SVI,negative.|1981
497,55,F,f,f,f,f,f,f,f,f,...,t,144,t,1.24,t,116,f,?,other,negative.|1327
498,43,M,f,f,f,f,f,f,f,f,...,t,62,t,0.94,t,66,f,?,other,negative.|169
499,79,M,f,f,f,f,f,f,f,f,...,t,92,t,0.88,t,105,f,?,SVI,negative.|692

In [235]:
data["Class"]= [x.split(".")[0] for x in data["Class"]]

In [236]:

def SearchKeyInColumns(dataset, key="NaN"):
    data= dataset.copy()
    cols=data.columns
    column_search_freq_dictionary={}
    for i in cols:
        count=0
        for j in data[i]:
            if j==key:
                count=count+1
        column_search_freq_dictionary[i]= count
        
    return column_search_freq_dictionary

In [237]:
print(SearchKeyInColumns(data, key="?"))

{'age': 1, 'sex': 110, 'on_thyroxine': 0, 'query_on_thyroxine': 0, 'on_antithyroid_medication': 0, 'sick': 0, 'pregnant': 0, 'thyroid_surgery': 0, 'I131_treatment': 0, 'query_hypothyroid': 0, 'query_hyperthyroid': 0, 'lithium': 0, 'goitre': 0, 'tumor': 0, 'hypopituitary': 0, 'psych': 0, 'TSH_measured': 0, 'TSH': 284, 'T3_measured': 0, 'T3': 585, 'TT4_measured': 0, 'TT4': 184, 'T4U_measured': 0, 'T4U': 297, 'FTI_measured': 0, 'FTI': 295, 'TBG_measured': 0, 'TBG': 2799, 'Referral_source': 0, 'Class': 0}

In [238]:

def RelevanceColumnFilter(dataset, key="NaN", filter_threshold=0.8):
    dictionary= SearchKeyInColumns(dataset, key)
    data= dataset.copy()
    columns_to_drop= []
    
    filter_threshold= filter_threshold*len(data)
    for i in dictionary.items():
        if i[1]>=filter_threshold:
            columns_to_drop.append(i[0])
    #print("Column to drop: ", columns_to_drop)
    data.drop(columns=columns_to_drop, inplace=True)
    
    return data

In [239]:
data= RelevanceColumnFilter(data, key="?", filter_threshold=0.8)

In [240]:
data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,Referral_source,Class
0,23,F,f,f,f,f,f,f,f,f,...,2,t,102,f,?,f,?,f,other,negative
1,46,M,f,f,f,f,f,f,f,f,...,?,t,109,t,0.91,t,120,f,other,negative
2,70,F,t,f,f,f,f,f,f,f,...,1.9,t,175,f,?,f,?,f,other,negative
3,70,F,f,f,f,f,f,f,f,f,...,1.2,t,61,t,0.87,t,70,f,SVI,negative
4,18,F,t,f,f,f,f,f,f,f,...,?,t,183,t,1.3,t,141,f,other,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,?,t,155,t,1.05,t,148,f,SVI,negative
2795,73,M,f,t,f,f,f,f,f,f,...,0.7,t,63,t,0.88,t,72,f,other,negative
2796,75,M,f,f,f,f,f,f,f,f,...,?,t,147,t,0.8,t,183,f,other,negative
2797,60,F,f,f,f,f,f,f,f,f,...,?,t,100,t,0.83,t,121,f,other,negative
2798,81,F,f,f,f,f,f,f,f,f,...,1.5,t,114,t,0.99,t,115,f,SVI,negative

In [241]:

def ReplaceMeanAndMode(dataset, key='NaN'):
    
    data= dataset.copy()
    cols= data.columns
    for i in cols:
        if not data[i][0].isalpha():
            total=0
            count=0
            total= sum([float(x) for x in np.array(data[i]) if x != key])
            count= sum([1.0 for x in np.array(data[i]) if x != key])
            mean=total/count
            data[i].replace(key, mean,inplace=True)
        else:
            data[i].replace(key,np.nan,inplace=True)
            data[i].replace(np.nan, data[i].mode(), inplace=True)
    
    return data

In [242]:
data= ReplaceMeanAndMode(data, key='?')

In [243]:
print(SearchKeyInColumns(data, key="?"))

{'age': 0, 'sex': 0, 'on_thyroxine': 0, 'query_on_thyroxine': 0, 'on_antithyroid_medication': 0, 'sick': 0, 'pregnant': 0, 'thyroid_surgery': 0, 'I131_treatment': 0, 'query_hypothyroid': 0, 'query_hyperthyroid': 0, 'lithium': 0, 'goitre': 0, 'tumor': 0, 'hypopituitary': 0, 'psych': 0, 'TSH_measured': 0, 'TSH': 0, 'T3_measured': 0, 'T3': 0, 'TT4_measured': 0, 'TT4': 0, 'T4U_measured': 0, 'T4U': 0, 'FTI_measured': 0, 'FTI': 0, 'TBG_measured': 0, 'Referral_source': 0, 'Class': 0}

In [245]:
print(SearchKeyInColumns(data, key=np.nan))
data

{'age': 0, 'sex': 0, 'on_thyroxine': 0, 'query_on_thyroxine': 0, 'on_antithyroid_medication': 0, 'sick': 0, 'pregnant': 0, 'thyroid_surgery': 0, 'I131_treatment': 0, 'query_hypothyroid': 0, 'query_hyperthyroid': 0, 'lithium': 0, 'goitre': 0, 'tumor': 0, 'hypopituitary': 0, 'psych': 0, 'TSH_measured': 0, 'TSH': 0, 'T3_measured': 0, 'T3': 0, 'TT4_measured': 0, 'TT4': 0, 'T4U_measured': 0, 'T4U': 0, 'FTI_measured': 0, 'FTI': 0, 'TBG_measured': 0, 'Referral_source': 0, 'Class': 0}

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,Referral_source,Class
0,23,F,f,f,f,f,f,f,f,f,...,2,t,102,f,0.997855,f,110.789,f,other,negative
1,46,M,f,f,f,f,f,f,f,f,...,2.02475,t,109,t,0.91,t,120,f,other,negative
2,70,F,t,f,f,f,f,f,f,f,...,1.9,t,175,f,0.997855,f,110.789,f,other,negative
3,70,F,f,f,f,f,f,f,f,f,...,1.2,t,61,t,0.87,t,70,f,SVI,negative
4,18,F,t,f,f,f,f,f,f,f,...,2.02475,t,183,t,1.3,t,141,f,other,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,70,M,f,f,f,f,f,f,f,f,...,2.02475,t,155,t,1.05,t,148,f,SVI,negative
2795,73,M,f,t,f,f,f,f,f,f,...,0.7,t,63,t,0.88,t,72,f,other,negative
2796,75,M,f,f,f,f,f,f,f,f,...,2.02475,t,147,t,0.8,t,183,f,other,negative
2797,60,F,f,f,f,f,f,f,f,f,...,2.02475,t,100,t,0.83,t,121,f,other,negative
2798,81,F,f,f,f,f,f,f,f,f,...,1.5,t,114,t,0.99,t,115,f,SVI,negative